<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="row">
    <div class="span5">
      <h4><%= @list.title %></h4><span><%= @list.category.name %></span>
    </div>

    <div class="span2">
             <ul>
              <li>
              <%= link_to edit_list_path do %>
                    <i class='icon-plus'></i>
                    <span class="icon">Add tip</span>
              <% end %>
              </li>
            </ul>
    </div>

    <div class="span2">
              <ul>
              <li>
              <%= link_to edit_list_path do %>
                    <i class='icon-edit'></i>
                    <span class="icon">Edit</span>
              <% end %>
              </li>
            </ul>
    </div>
</div>


<br/>
<br/>

<p><%= @list.desc %></p>




<hr/>

<% if @list.tips.empty? %>
  <p> There are no tips yet. <%= link_to "Why don't you add one?", edit_list_path %></p>

<% end %>

<% @list.tips.each do |tip| %>
<div class="row">
  <h3>Title</h3>
  <h3>Content</h3
</div>
<% end %>



<br />

