<div class="row-fluid">
  <div class="span8">
    <h3><%= @list.title %></h3>
    <span class="label label-inverse"><%= @list.category.name %></span>
  </div>

  <div class="span4">
    <div class="btn-group pull-right">
      <%= link_to new_list_tip_path(@list) do %>
        <button class="btn">
          <i class="icon-plus"></i>
          <span class="icon">Add Tip</span>
        </button>
      <% end %>
      <%= link_to edit_list_path do %>
        <button class="btn">
          <i class="icon-edit"></i>
          <span class="icon">Edit</span>
        </button>
      <% end %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">
    
  </div>
  <div class="span10">
    <p><%= @list.desc %><p>
  </div>
</div>

<% if @list.tips.empty? %>
  <p>There are no tips yet. <%= link_to 'Why don\'t you add one?', new_list_tip_path(@list) %></p>
<% else %>
  <%= render 'tips/table' %>
<% end %>

<div class="row-fluid">
  <div class="span12">
      <%= link_to lists_path do %>
        <i class="icon-arrow-left"></i>
        <span class="icon">Back</span>
      <% end %>
  </div>
</div>