<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @list.title %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

TIPS:
<table>
  <tr>
    <th>Content</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tips.each do |tip| %>
  <tr>
    <td><%= tip.content %></td>
    <td><%= tip.title %></td>
    <td><%= link_to 'Show', list_tip_path(tip) %></td>
    <td><%= link_to 'Edit', edit_list_tip_path(tip) %></td>
    <td><%= link_to 'Destroy', list_tip_path(tip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tip', new_list_tip_path(@list) %>
