<h1>Listing tips</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
  </tr>

<% @tips.each do |tip| %>
  <tr>
    <td><%= tip.content %></td>
    <td><%= tip.title %></td>
    <td><%= link_to 'Show', list_tip_path(@list,tip) %></td>
    <td><%= link_to 'Edit', edit_list_tip_path(@list,tip) %></td>
    <td><%= link_to 'Destroy', list_tip_path(@list,tip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tip', new_list_tip_path(@list) %>
