<h1><%= @tip.title %></h1>

<div class="row">
  <div class="span12">
    <pre><code><%= @tip.content %></code></pre>
  </div>
</div>

<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_list_tip_path(@list,@tip) %> |
<%= link_to 'Back', list_tips_path(@list) %>
