<div class="container">
  <a class="brand" href="http://127.0.0.1:3000">Tipster</a>
  <div class="container nav-collapse">
    <ul class="nav pull-right">
      <li>
         <div class="btn-group">
        <% if user_signed_in? %>
          <%= link_to citygate.destroy_user_session_path, :method => :delete do %>
            <button class="btn">
              <%= image_tag 'glyphicons/lock.png', :class => 'icon' %>
              Sign Out
            </button>
          <% end %>
        <% else %>
          <%= link_to citygate.new_user_session_path do %>
            <button class="btn">
              <%= image_tag 'glyphicons/unlock.png', :class => 'icon' %>
              Sign In
            </button>
          <% end %>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'users/auth/twitter' do %>
                <%= image_tag 'glyphicons/twitter.png', :class => 'icon' %>
                <span class="icon">Sign in with Twitter</span>
              <% end %>
            </li>
            <li>
              <%= link_to citygate.new_user_registration_path do %>
                <%= image_tag 'glyphicons/user_add.png', :alt => 'Sign Up', :class => 'icon' %>
                <span class="icon">Sign Up</span>
              <% end %>
            </li>
          </ul>
        <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>