<!DOCTYPE html>
<<<<<<< Updated upstream
<html>
<head>
  <title>Tipster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
  <div class="container">
    <h3>tipster</h3>
    <%= render 'layouts/top_nav' %>
  </div>
  <ul class="nav secondary-nav nav-user">
    <!--<li>quais</li>-->
    <ul class="dropdown open">

  </ul>

</div>

<div class="wrapper">
<div class="sidebar">


</div>

<%= yield %>
</div>

</body>